.combatInfo {
  width: 75%;
  float: left;
  margin: 0;
  padding: 0;
}

.statsInfo {
  width:25%;
  float:left;
  margin: 0;
  padding: 0;
}

.stats {
  float: right;
}

.userClassStats div, .enemyClassStats div {
  width: 100%;
}